<div class="span6 offset3 text-center steamy-hottub">

	<h1 class="custom-font">Hi I'm Max</h1>
	<h2>I am a human learning computer language</h2>

	<%= link_to 'Roll Arch', '#' , :class => 'btn btn-success' %>

</div>